#reordenable tr{
    cursor:move;
}


.contenedor-totales{
    display:flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo{
    color:cadetblue;
    font-weight: bold;
}

.pasivo {
    color: red;
    font-weight: bold;
}

.total {
    color: green;
    font-weight: bold;
}
