@{
    ViewBag.Title = "Reporte Calendario";
}

<partial name="_Submenu" Model="SubMenuTransacciones.Calendario" />
<div id="calendario"></div>

@section Scripts{
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendario');
            const calendario = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                locale: 'es',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '/Transacciones/ObtenerTransaccionesCalendario'
                //Ejemplo de transaccion manualmente creadaa
                // ,events: [
                //     {
                //         title: '2,500',
                //         start: '2025-09-26',
                //         end: '2025-09-26'
                //     },
                //     {
                //         title: '1, 500',
                //         start: '2025-09-25',
                //         allDay: true,
                //         color:'red'
                //     },
                //     {
                //         title: '1,300',
                //         start: '2025-09-20T10:00:00',
                //         end: '2025-09-20T12:00:00'
                //     }
                // ]
            });
            calendario.render();
        });
    </script>
}