@{
    ViewData["Title"] = "Reporte Diario";
}


<partial name="_Submenu" Model="SubMenuTransacciones.Diario" />

<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nueva Transaccion</a>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />